body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

.product {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

button {
  background-color: #e2136e;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #c00a5d;
}

#payment {
  margin-top: 30px;
}

input {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
}
